.s-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  .s-btn {
    max-width: 100%;

    @media (min-width: 425px) {
      max-width: 280px;
    }
  }
}