.s-modal {

  &__content {
    padding: 20px;
    text-align: center;
    position: relative;

    @media (min-width: $screen-sm) {
      padding: 90px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    font-family: $font-family--condensed;
    margin-bottom: 7px;
  }

  &__desc {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 66px;
  }

  .s-btn {
    max-width: 100%;
    width: 100%;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}