mixin modal()

  #exampleModal.s-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.s-modal__content
        h5.s-modal__title Обратный звонок
        p.s-modal__desc Оставьте ваши контактные данные и мы перезвоним вам в ближайшее время!
        +form()
          +field-text({
            attrs: {
              placeholder: 'Имя'
            }
          })
          +field-text({
            attrs: {
              placeholder: 'Телефон'
            }
          })
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        +btn('Отправить')