.s-main-nav {
  font-family: $font-family--condensed;
  margin-left: auto;

  @media (max-width: ($screen-md - 1)) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: $bg-color--default;
    z-index: 100;
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: ($screen-md - 1)) {
      display: flex;
      flex-direction: column;
    }

    li {
      margin: 0;

      &:not(:first-child) {
        margin-left: 35px;

        @media (max-width: ($screen-md - 1)) {
          margin-left: 0;
          margin-top: 15px;
        }
      }

      a {
        color: currentColor;
        position: relative;
        display: block;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          left: -0.5rem;
          right: -0.5rem;
          top: -0.5rem;
          bottom: -0.5rem;
        }

        @media (min-width: $screen-md) {

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -0.125rem;
            left: 0;
            border-bottom: 2px solid currentColor;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.4,0,0,1);
            transform-origin: center right;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          @media (min-width: $screen-md) {

            &::after {
              transform: scaleX(1);
              transform-origin: center left;
            }
          }
        }
      }
    }
  }

  &--is-shown {

    @media (max-width: ($screen-md - 1)) {
      display: block;
    }
  }
}
