.s-food-delivery {
  background:
    linear-gradient(
      0deg,
      hsla(0, 0%, 0%, 0.8),
      hsla(0, 0%, 0%, 0.8)
    ),
    url(../img/bg-food-delivery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 15px 60px 15px;
  color: $text-color--lightest;

  @media (min-width: $screen-sm) {
    padding: 80px 15px 160px 15px;
  }

  &__title {
    position: relative;
    margin-bottom: 76px;
    max-width: 800px;
    font-size: 36px;
    line-height: 40px;
    color: currentColor;

    @media (min-width: $screen-sm) {
      font-size: 48px;
      line-height: 50px;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: $color--accent;
      height: 2px;
      width: 60px;
      left: 0;
      bottom: -30px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    max-width: 480px;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &--light {
    background:
    linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.8)
    ),
    url(../img/bg-food-delivery.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 15px 60px 15px;
    color: $text-color;
  }
}