.s-table {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;
  border: 1px solid #dbdbdd;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    padding: 15px 30px;
    font-size: 1rem;
    line-height: 20px;
    vertical-align: top;
    border-bottom: 1px solid #dbdbdd;

    &:not(:first-child) {
      border-left: 1px solid #dbdbdd;
    }
  }

  th {
    text-align: left;
    background-color: #f2f2f5;
  }

  tbody,
  thead,
  tfoot {

    &:last-child {

      tr:last-child {

        td,
        th {
          border-bottom: 0;
        }
      }
    }
  }
}