.s-field-actions {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__text {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size--small;
  }
}
