.s-slider {

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 31px;
    height: 11px;
    margin: 30px 8px 8px 8px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    &--prev {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='11'%3E%3Cg fill='%23E21A1A' fill-rule='evenodd'%3E%3Cpath d='M31 5H11v1h20zM11 0L0 5.5 11 11z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--next {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='11'%3E%3Cg fill='%23E21A1A' fill-rule='evenodd'%3E%3Cpath d='M0 5h20v1H0zM20 0l11 5.5L20 11z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}