@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.s-page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  min-height: 100%;
  min-width: 320px;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  body {

    @media (min-width: $screen-sm) {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background:
        linear-gradient(
          0deg,
          hsla(0, 0%, 100%, 0.92),
          hsla(0, 0%, 100%, 0.92)
        ),
        url(../img/bg-body.jpg);
    }
  }
}