.s-promo {

  &__slide {
    background:
      linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.75),
        hsla(0, 0%, 100%, 0.75)
      ),
      url(../img/bg-promo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 15px;

    @media (min-width: $screen-sm) {
      padding: 120px 15px;
    }
  }

  &__slide-inner {
    max-width: 1190px;
    margin: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }

    .s-btn {
      width: 100%;
      max-width: 400px;

      @media (min-width: $screen-sm) {
        max-width: 220px;
        margin-top: auto;
      }
    }
  }

  &__block-title {
    font-size: 28px;
    line-height: 32px;
    font-family: $font-family--condensed;
    margin-bottom: 28px;

    @media (min-width: $screen-sm) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__target {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color--accent;
    display: block;
    position: relative;
    margin-bottom: 36px;

    &::after {
      position: absolute;
      content: '';
      background-color: currentColor;
      height: 2px;
      width: 60px;
      left: 0;
      bottom: -14px;
    }
  }

  &__desc-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 28px;

    li {
      margin: 0;
      padding: 0;
      position: relative;

      &::before {
        content: '–';
        margin-right: 5px;
      }
    }
  }
}