mixin menu-card(image, title)

  .s-menu-card
    .s-menu-card__main
      .s-menu-card__cover
        img(src=image, alt='/')
      .s-menu-card__info
        h3.s-menu-card__title #{title}
        span.s-menu-card__price 430 ₽
    .s-menu-card__additional
      .s-menu-card__additional-header
        h3.s-menu-card__title #{title}
        span.s-menu-card__price 430 ₽
      ul.s-menu-card__list
        li Салат «Витаминный»
        li Борщ с курицей и сметаной
        li Куриное филе в сливочном соусе
        li Черный чай с сахаром
        li Хлеб
      +btn('Заказать')(href='menu-card.html')