.s-menu-card {
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s cubic-bezier(0.4,0,0,1);

  &:hover {

    .s-menu-card__additional {
      opacity: 1;
    }
  }

  &__main {
    background-color: $bg-color--default;
    border: 1px solid $border-color;
    position: relative;
    z-index: 1;
  }

  &__cover {
    height: 230px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__info {
    padding: 25px 20px;
    font-family: $font-family--condensed;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
  }

  &__price {
    flex-shrink: 0;
  }

  &__additional {
    position: absolute;
    z-index: 2;
    background-color: $bg-color--default;
    border: 1px solid $color--accent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.4,0,0,1);

    .s-btn {
      width: 100%;
      margin-top: auto;
      max-width: 100%;
    }
  }

  &__additional-header {
    font-family: $font-family--condensed;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;

    li {
      margin: 0;
      padding: 0;
      position: relative;

      &::before {
        position: relative;
        content: '–';
        margin-right: 5px;
      }
    }
  }
}