.s-more-link {
  font-family: $font-family--condensed;
  color: $color--accent;
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  transition: all 0.3s cubic-bezier(0.4,0,0,1);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $text-color;
  }
}