.s-breadcrumb {
  padding: 1rem 0;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__list {
    padding: 0;
    list-style: none;
    color: $gray;
    font-family: $font-family--condensed;

    a {
      color: currentColor;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  &__item {
    display: inline-block;
    margin-right: 7px;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='7'%3E%3Cg fill='%23A4A5A9' fill-rule='evenodd'%3E%3Cpath d='M0 3h10v1H0zM10 0l7 3.5L10 7z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      width: 17px;
      height: 7px;
      display: inline-block;
      margin-left: 7px;
      transform: translate3d(0,-2px,0);
    }
  }
}