mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-inner
        ul.s-page-header__contact-list
          li: a(href='tel:+74991104923') +7 (499) 110-49-23
          li: a(href='mailto:info@ntsfpc.ru') info@ntsfpc.ru
        .s-page-header__menu
          form(method='post').s-search-form
            input.s-search-form__input(type='search', placeholder='Поиск')
          .s-page-header__languages
            .s-page-header__language-toggler Ru
            .s-page-header__language
              ul.s-page-header__language-list
                li: a(href='/') Русский
                li: a(href='/') English
                li: a(href='/') Українська
                li: a(href='/') Eλληνικά
                li: a(href='/') Srpski
                li: a(href='/') Svenska
          a.s-login(href='/') Войти
    .s-page-header__bottom
      .s-page-header__bottom-inner
        +logo('/index.html')
          img(src='img/logo.svg', alt='НТС лого', width='113', height='57')
        nav#s-main-nav.s-main-nav
          ul.s-main-nav__list
            li: a(href='/about.html') О компании
            li: a(href='/menu.html') Меню
            li: a(href='/shop.html') Магазин
            li: a(href='/') Заказ стола
            li: a(href='/') Услуги
            li: a(href='/') Контакты
        a.s-page-header__basket(href='basket.html') Корзина
        .s-page-header__burger
          +hamburger('Show main navigation', 's-main-nav', 's-main-nav--is-shown')
