.s-page-header {
  line-height: 25px;
  position: relative;
  box-shadow: 0 2px 15px rgba(#000, 0.1);
  z-index: 100;

  &__top {
    background-color: $bg-color--darker;
    color: rgba($text-color--lightest, 0.75);
    padding: 0 15px;
    font-weight: 500;
    font-size: 13px;
    display: block;
  }

  &__top-inner {
    max-width: 1190px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__contact-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    @media (max-width: ($screen-sm - 1)) {
      order: 2;
      width: 100%;
      min-height: 40px;
      align-items: center;
      justify-content: space-between;
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:first-child) {

        @media (min-width: $screen-sm) {
          margin-left: 37px;
        }
      }

      a {
        display: inline-block;
        color: currentColor;
        transition: all 0.3s cubic-bezier(0.4,0,0,1);
        line-height: 20px;
        padding: 10px 0;

        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }
  }

  &__menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    position: relative;

    @media (max-width: ($screen-sm - 1)) {
      order: 1;
      border-bottom: 1px solid rgba(#fff, 0.25);
      width: 100%;
      min-height: 40px;
      align-items: center;
    }
  }

  &__languages {
    height: 40px;
    flex-shrink: 0;
    position: relative;
  }

  &__language-toggler {
    position: relative;
    display: block;
    line-height: 20px;
    padding: 10px 30px 10px 10px;
    color: currentColor;
    font-size: 13px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: 10px;
      width: 6px;
      height: 6px;
      transform: translateY(-70%) rotate(45deg);
      transition: transform 0.3s, border-color 0.3s;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }

  &__language {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1000;
    background-color: $bg-color--default;
    width: 220px;
    box-shadow: 0 5px 30px rgba(72, 72, 72, 0.35);
    opacity: 0;
    height: 0;
    visibility: hidden;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        &:not(:first-child) {

          a {

            &:after {
              position: absolute;
              content: '';
              background-color: rgba(#000, 0.125);
              height: 1px;
              top: 0;
              left: 20px;
              right: 20px;
            }
          }
        }

        a {
          display: block;
          padding: 20px;
          font-size: 14px;
          line-height: 20px;
          position: relative;
          color: rgba(#000, 0.75);
          text-decoration: none;

          &:hover {
            text-decoration: none;
            color: $color--accent;
          }
        }
      }
    }

    &--is-open {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  .s-search-form {
    margin-right: auto;
    height: 40px;

    @media (min-width: $screen-sm) {
      margin-right: 45px;
    }
  }

  .s-login {
    flex-shrink: 0;
    line-height: 20px;
    padding: 10px 0 10px 10px;

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  &__bottom {
    font-size: 20px;
    background-color: $bg-color--default;
    position: relative;

    @media (min-width: $screen-md) {
      padding: 0 15px;
    }
  }

  &__bottom-inner {
    max-width: 1190px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 80px;
    align-items: center;
    padding: 0 15px;

    @media (min-width: $screen-md) {
      padding: 0;
    }
  }

  &__basket {
    display: inline-block;
    color: $color--accent;
    font-family: $font-family--condensed;
    margin-left: auto;
    flex-shrink: 0;
    padding-right: 20px;

    @media (min-width: $screen-md) {
      margin-left: 70px;
      padding-right: 0;
    }
  }

  &__burger {
    @media (min-width: $screen-md) {
      display: none;
    }
  }
}