.s-side-nav {
  font-family: $font-family--condensed;

  &__title {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 38px;
    position: relative;
    color: $color--accent;
    width: 100%;

    @media (min-width: $screen-sm) {
      max-width: 230px;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: currentColor;
      left: 0;
      bottom: -17px;
      width: 100%;
      height: 2px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: ($screen-sm - 1)) {
      display: none;
      margin-bottom: 20px;
      background-color: $gray-lightest;
      padding: 20px;

      &--is-open {
        display: block;
      }
    }

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 17px;

        @media (max-width: ($screen-sm - 1)) {
          border-bottom: 1px solid rgba(#000, 0.1);
          padding-bottom: 17px;
        }
      }

      a {
        display: inline-block;
        color: currentColor;

        @media (min-width: $screen-sm) {
          position: relative;
          text-decoration: none;

          &::before {
            content: '';
            position: absolute;
            left: -0.5rem;
            right: -0.5rem;
            top: -0.5rem;
            bottom: -0.5rem;
          }

          @media (min-width: $screen-md) {

            &::after {
              content: '';
              position: absolute;
              right: 0;
              bottom: -0.125rem;
              left: 0;
              border-bottom: 2px solid currentColor;
              transform: scaleX(0);
              transition: transform 0.3s cubic-bezier(0.4,0,0,1);
              transform-origin: center right;
            }
          }

          &:hover,
          &:focus {
            text-decoration: none;
            color: currentColor;

            @media (min-width: $screen-md) {

              &::after {
                transform: scaleX(1);
                transform-origin: center left;
              }
            }
          }
        }
      }
    }
  }

  &__toggle {
    display: none;

    @media (max-width: ($screen-sm - 1)) {
      display: block;
      width: 100%;
      background-color: $gray-lighter;
      font-size: 20px;
      line-height: 20px;
      padding: 20px;
      margin-bottom: 10px;
      text-align: left;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='211' height='150'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M98 7.5c0-4.14208 3.3577-7.5 7.5-7.5H203c4.1424 0 7.5 3.35792 7.5 7.5S207.1424 15 203 15h-97.5c-4.1423 0-7.5-3.35792-7.5-7.5zm-98 68C0 71.358 3.3577 68 7.5 68h195c4.142 0 7.5 3.358 7.5 7.5 0 4.142-3.358 7.5-7.5 7.5H7.5C3.3577 83 0 79.642 0 75.5zM7.5 135c-4.1423 0-7.5 3.358-7.5 7.5 0 4.142 3.3577 7.5 7.5 7.5h195c4.142 0 7.5-3.358 7.5-7.5 0-4.142-3.358-7.5-7.5-7.5H7.5z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 20px top 50%;
      background-size: 20px 20px;
    }
  }
}