mixin side-nav(title)

  .s-side-nav(class=allMods)&attributes(attributes)
    .s-side-nav__title #{title}
    button.s-side-nav__toggle Подразделы
    ul.s-side-nav__list
      block

mixin side-nav-item(text)

  li(class=allMods)&attributes(attributes)
    a(href='/') #{text}
