.s-basket {
  padding: 60px 15px 200px 15px;

  &__title {
    font-size: 30px;
    line-height: 30px;
    font-family: $font-family--condensed;
    color: $color--accent;
    margin-bottom: 45px;
  }

  &__total {
    border: 1px solid $gray-lighter;
    position: relative;
    padding-top: 50px;
    background-color: $bg-color--default;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px;

    &::before {
      position: absolute;
      content: '';
      background: #f2f2f5;
      border-bottom: 1px solid $gray-lighter;
      height: 50px;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width: $screen-sm) {
      height: 80px;
    }

    &:hover,
    &:focus {
      background-color: hsl(240, 3%, 97%);
    }

    & + & {
      border-top: 1px solid $gray-lighter;
    }
  }

  &__item-part {
     padding: 8px 20px 12px 20px;

     @media (min-width: $screen-sm) {
      flex-shrink: 0;
     }

    @media (min-width: $screen-sm) {
      padding: 28px 30px 32px 30px;
    }

    &:not(:last-child) {

      @media (min-width: $screen-sm) {
        border-right: 1px solid $gray-lighter;
      }
    }

    &--vendor {
      flex-grow: 0;

      @media (max-width: ($screen-sm - 1)) {
        flex: 0 0 100%;
        max-width: 100%;
        display: none;
      }
    }

    &--image {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 0;

      @media (max-width: ($screen-sm - 1)) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      @media (min-width: $screen-sm) {
        padding: 0;
      }

      img {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }

    &--name {
      flex-grow: 4;

      @media (max-width: ($screen-sm - 1)) {
        flex: 0 0 100%;
        max-width: 100%;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
      }
    }

    &--price {
      flex-grow: 1;

      @media (max-width: ($screen-sm - 1)) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        border-right: 1px solid $gray-lighter;
      }
    }

    &--count {
      flex-grow: 1;

      @media (max-width: ($screen-sm - 1)) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        border-right: 1px solid $gray-lighter;
      }
    }

    &--amount {
      flex-grow: 1;

      @media (max-width: ($screen-sm - 1)) {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }

  &__method {
    background-color: $bg-color--default;
    border: 1px solid $text-color;
    padding: 20px;

    & + & {
      margin-top: 10px;
    }
  }

  &__method-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}