.s-btn {
  position: relative;
  display: inline-block;
  background-color: $color--accent;
  background-image: none;
  color: $text-color--lightest;
  margin: 0;
  padding: 14px 25px 16px 25px;
  border-radius: 0;
  font-family: $font-family--condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.4,0,0,1);

  @media (min-width: $screen-sm) {
    max-width: 290px;
  }

  &:hover,
  &:focus {
    background-color: $color--accent-dark;
    color: #fff;
    text-decoration: none;
  }

  &:active,
  &:focus {}

  &:visited {}

  &--ghost {
    background-color: transparent;
    border: 2px solid $color--accent;
    color: #000;

    &:hover,
    &:focus {
      background-color: $color--accent;
      color: #fff;
    }
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}