.s-section {
  padding: 2rem 15px;

  @media (min-width: $screen-sm) {
    padding: 4rem 15px;
  }

  &--first {
    padding: 1rem 15px;

    @media (min-width: $screen-sm) {
      padding: 2rem 15px;
    }
  }

  &--menu {

    .container {
      position: relative;

      .s-more-link {
        display: block;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: $screen-sm) {
          position: absolute;
          top: 10px;
          right: 5px;
        }
      }
    }
  }
}