.s-category {
  display: block;
  color: currentColor;
  background-color: $bg-color--default;
  border: 1px solid $border-color;
  height: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  transition: $transition;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    border: 1px solid $color--accent;
    color: $color--accent;
    text-decoration: none;

    .s-category__cover {

      img {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    overflow: hidden;

    img {
      display: block;
      width: 90%;
      height: 90%;
      object-fit: contain;
      object-position: 50% 50%;
      transition: $transition;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 24px;
    font-family: $font-family--condensed;
    display: block;
    margin: auto 0 13px 0;
    text-align: center;
  }
}