.s-offer-layout {
  margin-bottom: 60px;

  &__cover {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-left: 30px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 40px;
    font-family: $font-family--condensed;
    margin-bottom: 15px;
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-family--condensed;

    .s-btn {
      flex-basis: auto;
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
    }
  }

  &__price,
  &__feedback {
    font-size: 20px;
    line-height: 20px;
  }

  &__feedback {
    color: $color--accent;
  }

  &__tabs {
    margin-top: 50px;
  }

  &__desc-list {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    li {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
      white-space: nowrap;

      input {
        border: 1px solid rgba(#000, 0.25);
        padding: 0.5rem;
      }

      > label,
      > span:first-child {
        color: $gray;
        padding-right: 0.25rem;

        &::after {
          position: relative;
          content: ':';
        }
      }
    }
  }
}