.s-field-text {
  display: block;
  margin-bottom: 1rem;

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 24px;
    padding: 14px;
    font-family: inherit;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    appearance: textfield;
    background-color: $bg-color--default;

    &:focus {
      // @include field-focus;
      border-color: $color--accent;
      outline: none;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      opacity: 1;
    }

    @at-root textarea#{&} {
      $textarea-height: 6rem;
      height: auto;
      min-height: calc(#{$textarea-height} + 2px);
      resize: vertical;
    }
  }

  &__help-text {
    @include field-help-text;
  }

  &--red-border {

    .s-field-text__input {
      background-color: transparent;
      border-color: $color--accent;
    }
  }
}
