//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-file/field-file.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/table/table.pug
include ../blocks/slider/slider.pug
include ../blocks/section/section.pug
include ../blocks/section-title/section-title.pug
include ../blocks/section-caption/section-caption.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/promo/promo.pug
include ../blocks/partner/partner.pug
include ../blocks/category/category.pug
include ../blocks/menu-card/menu-card.pug
include ../blocks/trans-service-drinks/trans-service-drinks.pug
include ../blocks/product-card/product-card.pug
include ../blocks/side-nav/side-nav.pug
include ../blocks/about/about.pug
include ../blocks/certificate/certificate.pug
include ../blocks/for-special-order/for-special-order.pug
include ../blocks/offer-layout/offer-layout.pug
include ../blocks/food-delivery/food-delivery.pug
include ../blocks/main-directions/main-directions.pug
include ../blocks/map/map.pug
include ../blocks/basket/basket.pug
include ../blocks/tabs/tabs.pug
include ../blocks/login/login.pug
include ../blocks/search-form/search-form.pug
include ../blocks/more-link/more-link.pug
include ../blocks/modal/modal.pug
include ../blocks/show-more/show-more.pug
