.s-for-special-order {

  &__info {
    text-align: center;
    font-family: $font-family--condensed;
    font-size: 20px;
    line-height: 24px;
    max-width: 480px;
    margin: 0 auto 2rem auto;

    @media (min-width: $screen-sm) {
      margin: 0 auto 3rem auto;
    }

    a {
      color: currentColor;
    }
  }

  .s-section-caption {
    margin-bottom: 20px;
  }
}