.s-partner {
  background: $bg-color--default;
  border: 1px solid $border-color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  img {
    width: 80%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }
}