@import './src/scss/reset.scss';
@import './src/scss/mixins.scss';
@import './src/scss/variables.scss';
@import './src/scss/fonts.scss';
@import './src/scss/global.scss';
@import './src/scss/typography.scss';

.s-page body {
  background-image: none;

  @media (min-width: $screen-sm) {
    background-image: none;
  }
}

.s-styleguide {

  &__header {
    min-height: 30vh;
    padding: 5vw;
    font-size: 25vw;
    line-height: 0.7em;
    font-weight: 900;

    > * {
      border-bottom: 10px solid #000;
      display: block;
    }
  }

  &__body {
    padding: 5vw;
  }

  &__title {
    font-size: 10vw;
    line-height: 1.2em;
    border-bottom: 5px solid #000;
    font-weight: 900;
    margin-top: 10vw;
    margin-bottom: 5vw;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25em;
    margin-top: 1em;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5em;
  }
}