.s-tabs {

  &__list {
    position: relative;
    z-index: 2;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    li {
      margin: 0;
      padding: 0;

      @media (max-width: ($screen-sm - 1)) {

        &:not(:first-child) {
          margin-top: -1px;
        }
      }

      @media (min-width: $screen-sm) {
        margin-right: 5px;
      }

      a {
        background-color: #f2f2f5;
        border: 1px solid #bfc0c2;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 17px;
        display: block;
        color: currentColor;

        &[aria-selected=true] {
          background-color: $bg-color--default;

          @media (min-width: $screen-sm) {
            border-bottom: 1px solid $bg-color--default;
          }
        }
      }
    }
  }

  &__content {
    background-color: $bg-color--default;
    width: 100%;
    border: 1px solid #bfc0c2;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    min-height: 220px;
    padding: 20px;
  }
}