.s-field-file {

  $block-name:                &;

  display: flex;

  &__input {

    .js & {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    &:focus + label,
    &.has-focus + label {
      outline: none;
      // outline: 1px dotted #000;
      // outline: -webkit-focus-ring-color auto 5px;
    }

    &:focus + label strong,
    &.has-focus + label strong,
    & + label:hover strong {
      color: #000;
      outline: none;
    }
  }
}

.s-field-file__label {
  font-size: 1rem;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;

  strong {
    color: $color--accent;
    font-weight: inherit;
    display: inline-block;

    @media (min-width: $screen-sm) {
      display: inline-block;
    }
  }

  span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;

    @media (min-width: $screen-sm) {
      padding-left: 60px;
    }
  }

  .no-js & {
    display: none;
  }
}