mixin field-file()

  .s-field-file

    input#s-field-file.s-field-file__input(type='file', name='file', data-multiple-caption='{count} files selected', multiple='')
    label.s-field-file__label(for='s-field-file')
      strong Прикрепить файл
      span