mixin product-card(image, title)

  .s-product-card
    .s-product-card__main
      .s-product-card__cover
        img(src=image, alt='/')
      .s-product-card__info
        h3.s-product-card__title #{title}
        span.s-product-card__price 100 ₽
    .s-product-card__additional
      .s-product-card__info
        h3.s-product-card__title #{title}
        span.s-product-card__price 100 ₽
      span.s-product-card__data
      +btn('Заказать')(href='product-card.html')