.s-product-card {
  border: 1px solid $gray;
  background-color: $bg-color--default;
  position: relative;

  &:hover {

    .s-product-card__additional {
      opacity: 1;
    }
  }

  &__main {
    position: relative;
    z-index: 1;
  }

  &__cover {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray;
    background: $bg-color--default;

    img {
      display: block;
      width: 60%;
      height: 60%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    height: 60px;
    padding: 0 20px;
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    padding-right: 15px;
  }

  &__price {
    flex-shrink: 0;
  }

  &__additional {
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color--default;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;

    .s-btn {
      margin-top: auto;
    }

    .s-product-card__info {
      align-items: flex-start;
      padding: 0;
    }
  }
}