mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      section.s-page-footer__block.s-page-footer__block--contacts
        h3.s-page-footer__block-title Контакты
        ul.s-page-footer__list
          li: a(href='tel:+74991104923') +7 (499) 110-49-23
          li: a(href='mailto:info@ntsfpc.ru') info@ntsfpc.ru
          li: address 107140, Москва, улица Площадь Комсомольская, дом 4а, сооружение 1
      section.s-page-footer__block
        h3.s-page-footer__block-title Услуги
        ul.s-page-footer__list
          li: a(href='/') Питание организованных групп
          li: a(href='/') Питание в поездах
          li: a(href='/') Питание в вагонах ресторанах
          li: a(href='/') Напитки и закуски в поездах
          li: a(href='/') Логичтика продовольственных товаров
      section.s-page-footer__block
        h3.s-page-footer__block-title Питание организованных групп
        ul.s-page-footer__list
          li: a(href='/') Туристические группы
          li: a(href='/') Детские группы
          li: a(href='/') Иностранные группы
          li: a(href='/') Бизнес и VIP питание
          li: a(href='/') Индивидуальное питание
