.s-page-footer {
  background-color: $bg-color--darker;
  color: $text-color--lightest;
  padding: 20px;

  @media (min-width: $screen-sm) {
    padding: 60px 20px;
  }

  &__inner {
    max-width: 1190px;
    margin: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__block {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      flex-basis: 33.3333%;
      min-width: 33.3333%;
      padding-right: 20px;
    }

    a {
      opacity: 0.6;
    }

    &--contacts {

      a {
        opacity: 1;
      }
    }
  }

  &__block-title {
    color: currentColor;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    line-height: 25px;

    li {
      margin: 0;

      a {
        display: inline-block;
        color: currentColor;
      }
    }
  }
}