mixin section-title(title, mods)

  //- Param:
    text {string}     - title
    mods {string}     - modifiers

  //- Use:
    +section-title('title', 'desc if needed', 'with-desc')

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-section-title--' + modsList[i].trim();
      }
    }

  h2.s-section-title(class=allMods)&attributes(attributes)
    span.s-section-title__text!= title
