.s-section-title {
  text-align: center;
  font-family: $font-family--condensed;
  margin-bottom: 2rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 3rem;
  }

  &__text {
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    font-size: 24px;
    line-height: 30px;

    @media (min-width: $screen-sm) {
      font-size: 36px;
      line-height: 40px;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: currentColor;
      height: 2px;
      width: 50px;
      top: calc(50% - 2px);

      @media (max-width: ($screen-md - 1)) {
        display: none;
      }
    }

    &::before {
      right: calc(100% + 20px);
    }

    &::after {
      left: calc(100% + 20px);
    }
  }

  &--with-caption {
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }
  }
}