mixin section-caption(caption, mods)

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-section-caption--' + modsList[i].trim();
      }
    }

  p.s-section-caption(class=allMods)&attributes(attributes) #{caption}