.s-section-caption {
  font-size: 16px;
  line-height: 20px;
  color: $gray;
  display: block;
  margin-bottom: 2rem;
  text-align: center;

  @media (min-width: $screen-sm) {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 3rem;
  }
}