.s-main-directions {
  background:
    linear-gradient(
      0deg,
      hsla(0, 0%, 0%, 0.8),
      hsla(0, 0%, 0%, 0.8)
    ),
    url(../img/bg-main-directions.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 15px 60px 15px;
  color: $text-color--lightest;

  @media (min-width: $screen-sm) {
    padding: 80px 15px 160px 15px;
  }

  &__title {
    position: relative;
    margin-bottom: 76px;
    max-width: 800px;
    font-size: 36px;
    line-height: 40px;
    color: currentColor;

    @media (min-width: $screen-sm) {
      font-size: 48px;
      line-height: 50px;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: $color--accent;
      height: 2px;
      width: 60px;
      left: 0;
      bottom: -30px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 0.75rem;
    line-height: 24px;
    max-width: 480px;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 20px;
    }

    li {
      margin: 0;
      padding: 0;
      position: relative;

      &::before {
        content: '–';
        margin-right: 5px;
      }

      &:not(:last-child) {

        &::after {
          content: ';';
        }
      }

      &:last-child {

        &::after {
          content: '.';
        }
      }
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    max-width: 480px;

    @media (min-width: $screen-sm) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &--light {
    background:
      linear-gradient(
        0deg,
        hsla(0, 0%, 100%, 0.8),
        hsla(0, 0%, 100%, 0.8)
      ),
      url(../img/bg-main-directions.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 15px 60px 15px;
    color: $text-color;
  }
}