.s-certificate {
  display: block;
  background-color: $bg-color--default;
  border: 1px solid $border-color;

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 95%;
      height: 95%;
      object-fit: contain;
    }
  }

  &__gallery-item {

    img {

    }
  }
}