.s-map {
  position: relative;

  &__header {
    padding: 2rem 15px 0 15px;

    @media (min-width: $screen-sm) {
      padding: 4rem 15px 0 15px;
    }
  }

  &__info-cover {
    width: 100%;
    height: 230px;
    margin-bottom: 15px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__info {
    width: 100%;

    @media (min-width: $screen-md) {
      position: absolute;
      bottom: 30px;
    }
  }

  &__info-inner {
    background-color: #fff;
    padding: 20px;
    max-width: 1190px;
    margin-top: 20px;

    @media (min-width: $screen-md) {
      max-width: 420px;
      margin-left: auto;
      margin-top: 0;
      border: 1px solid #000;
    }
  }

  &__info-title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 12px;
  }
}