extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block prepend head
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css')

block content

  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('О компании')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('О компании')
            +side-nav-item('Сотрудники')
            +side-nav-item('Вакансии')
            +side-nav-item('Тендеры')
            +side-nav-item('Предложения')
            +side-nav-item('Вопрос-Ответ')
        .col-12.col-md-9
          .s-about
            .s-about__cover
              img(src='img/trans-service-drinks-cover.jpg', alt='/')
            .s-about__text
              p Наша компания осуществляет деятельность по обеспечению поездов дальнего следования и скоростного сообщения напитками, продовольственными и непродовольственными товарами для их реализации пассажирам поездов. ООО «Напитки ТрансСервис» - дочернее Общество АО «Федеральная пассажирская компания» было создано в 2011 году с целью построения новой системы обеспечения пассажиров продукцией гарантированного качества и безопасности, построенной на основе сетевых технологий по принципам категорийного менеджмента.

  .s-section
    .container
      +section-title('Лицензии и сертификаты')
      .swiper-container.s-slider.s-slider--nav.s-slider--certificates
        .swiper-wrapper
          .swiper-slide
            +certificate('img/certificate-1.jpg')
          .swiper-slide
            +certificate('img/certificate-2.jpg')
          .swiper-slide
            +certificate('img/certificate-3.jpg')
          .swiper-slide
            +certificate('img/certificate-4.jpg')
          .swiper-slide
            +certificate('img/certificate-1.jpg')
          .swiper-slide
            +certificate('img/certificate-2.jpg')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

block page-bottom
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js')
  script(src='js/script.min.js')
  script.
    $(document).ready(function() {
      $('.s-slider--certificates').lightGallery({
        selector: '.s-certificate',
        mode: 'lg-fade',
        cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        thumbnail: true,
        animateThumb: false,
        showThumbByDefault: false
      });
    });