extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  .s-basket
    .container
      h1.s-basket__title Корзина
      .s-basket__total
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
        .s-basket__item
          .s-basket__item-part.s-basket__item-part--vendor 0230050
          .s-basket__item-part.s-basket__item-part--image
            img(src='img/pepsi-light.jpg', alt='/')
          .s-basket__item-part.s-basket__item-part--name Pepsi Light 0,33
          .s-basket__item-part.s-basket__item-part--price 50 ₽
          .s-basket__item-part.s-basket__item-part--count 2
          .s-basket__item-part.s-basket__item-part--amount 100 ₽
      .row
        .col-12.col-md-6
          +form()
            .row
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'ФИО'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Организация'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'E-mail'
                  }
                })
              .col-12
                +field-text({
                  title: '',
                  isTextarea: true,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    placeholder: 'Комментарий',
                    name: '',
                  }
                })
              .col-12
                +field-actions()
                  +btn('Оформить заказ')
        .col-12.col-md-6
          .s-basket__method
            .s-basket__method-title Вариант доставки
            +field-radio([
              {
                title: 'В поезд',
                mods: '',
                attrs: {
                  name: 'radio-1',
                  checked: true,
                }
              },
              {
                title: 'Доставка курьером (+ 300 ₽)',
                mods: '',
                attrs: {
                  name: 'radio-1',
                }
              },
            ])
          .s-basket__method
            .s-basket__method-title Способ оплаты
            +field-radio([
              {
                title: 'Банковская карта',
                mods: '',
                attrs: {
                  name: 'radio-2',
                  checked: true,
                }
              },
              {
                title: 'Безналичный расчёт',
                mods: '',
                attrs: {
                  name: 'radio-2',
                }
              },
            ])
