extends pug/layout.pug

block meta
  - var title = 'Delivery Two';
  title= title
  meta(name='description', content='')

block content

  section.s-food-delivery.s-food-delivery--light
    .container
      h2.s-food-delivery__title Поставка напитков, продуктов питания и сувенирной продукции
      p.s-food-delivery__desc
        | Напитки ТрансСервис (ООО «НТС») - Дочернее общество Федеральной Пассажирской Компании (АO «ФПК»), основанное в 2011 году. Стратегическая цель ООО «НТС» - повышение уровня сервисного обслуживания на борту и обеспечение пассажиров железнодорожного сообщения напитками, продуктами питания, сопроводительными товарами и услугами, отвечающими международным стандартам качества и безопасности.

  section.s-section
    .container
      +section-title('Поставщикам', 'with-caption')
      +section-caption('Работа с поставщиками напитков и продуктов питания')
      .row
        .col-12.col-md-8.col-lg-6
          +form()
            .row
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Обращение'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'E-mail'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'ИНН'
                  }
                })
              .col-12
                +field-text({
                  attrs: {
                    placeholder: 'Обзор'
                  }
                })
              .col-12
                +field-text({
                  title: '',
                  isTextarea: true,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    placeholder: 'Комментарий',
                    name: '',
                  }
                })
              .col-12
                +field-actions()
                  +btn('Отправить')

        .col-12.col-md-4.col-lg-6
          p Уважаемые поставщики! ООО «НТС» ведет закупочную деятельность в рамках 223-его ФЗ. Все Коммерческие предложения вы можете отправить заполнив форму обратной связи.

  section.s-main-directions.s-main-directions--light
    .container
      h2.s-main-directions__title Основные направления поставок
      .row
        .col-12.col-md-6
          ul.s-main-directions__list
            li Поезда дальнего следования
            li Обслуживание пассажиров в «Вагонах-ресторанах»
            li Поставка товаров арендаторам скоростных поездов «Сапасан», «Стриж»
            li В поезда пригородного сообщения «Ласточка»
            li Поезда частных перевозчиков
            li Железнодорожная торговая компания
            li Поставка товаров на вокзальный и привокзальный комплексы АО «РЖД»
        .col-12.col-md-6
          p.s-main-directions__desc
            | ООО «НТС» работает с лучшими мировыми и региональными производителями продуктов питания и напитков, что позволяет обеспечить высокий уровень качества, оптимальные цены и привлекательные программы лояльности. Качество продуктов питания, напитков и уровень обслуживания наших клиентов Гарантировано

  section.s-section
    .container
      +section-title('Покупателям', 'with-caption')
      +section-caption('Широкий ассортимент продукции и выгодные условия')
      .row
        .col-12.col-md-8.col-lg-6
          +form()
            .row
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Обращение'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'E-mail'
                  }
                })
              .col-12.col-md-6
                +field-text({
                  attrs: {
                    placeholder: 'ИНН'
                  }
                })
              .col-12
                +field-text({
                  attrs: {
                    placeholder: 'Обзор'
                  }
                })
              .col-12
                +field-text({
                  title: '',
                  isTextarea: true,
                  helpText: '',
                  mods: '',
                  val: '',
                  attrs: {
                    placeholder: 'Комментарий',
                    name: '',
                  }
                })
              .col-12
                +field-actions()
                  +btn('Отправить')

        .col-12.col-md-4.col-lg-6
          p Если вы хотите стать покупателем ООО «НТС» заполните форму связи с нами, обязательно указав локацию своей деятельности, мы с Вами обязательно свяжемся.

  section.s-map
    .s-map__header
      +section-title('Поставка напитков и продуктов питания', 'with-caption')
      +section-caption('Наша филиальная сеть')
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A275f745b5053b0aa2af1d458be84c998e9e83590356e66a03893bc28b4c8c3b5&width=100%25&height=570&lang=en_FR&scroll=true')
    .s-map__info
      .container
        .s-map__info-inner
          .s-map__info-cover
            img(src='img/map-info-cover.jpg', alt='/')
          h3.s-map__info-title Компания осуществляет поставки продукции в 47 городов России
          p НТС постоянно совершенствует логистические и производственные мощности, создавая единые стандарты хранения, распределения и комплектации товаров, и грузов. Логистические решения ООО «НТС» полностью созданы и настроены для поставок продуктов питания в любой регион по всей территории России.

  section.s-section
    .container
      +section-title('Партнеры')
      .swiper-container.s-slider.s-slider--partners
        .swiper-wrapper
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')