extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  .s-promo
    .swiper-container.s-slider.s-slider--promo
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-inner
              section.s-promo__block
                h2.s-promo__block-title Питание в поездах дальнего следования
                span.s-promo__target Для путешественников
                ul.s-promo__desc-list
                  li Туристические группы
                  li Детские группы
                  li Иностранные группы
                  li Бизнес и VIP питание
                +btn('Заказать', 'ghost')(type='button', data-toggle='modal', data-target='#exampleModal')
              section.s-promo__block
                h2.s-promo__block-title Поставка напитков, продуктов питания и сувенирной продукции
                span.s-promo__target Для организаций
                ul.s-promo__desc-list
                  li Прямые поставки от официального дистрибютора
                  li Федеральная филиальная сеть
                  li Широкая номенклатура продукции
                +btn('Подробнее', 'ghost')
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-inner
              section.s-promo__block
                h2.s-promo__block-title Питание в поездах дальнего следования
                span.s-promo__target Для путешественников
                ul.s-promo__desc-list
                  li Туристические группы
                  li Детские группы
                  li Иностранные группы
                  li Бизнес и VIP питание
                +btn('Заказать', 'ghost')(type='button', data-toggle='modal', data-target='#exampleModal')
              section.s-promo__block
                h2.s-promo__block-title Поставка напитков, продуктов питания и сувенирной продукции
                span.s-promo__target Для организаций
                ul.s-promo__desc-list
                  li Прямые поставки от официального дистрибютора
                  li Федеральная филиальная сеть
                  li Широкая номенклатура продукции
                +btn('Подробнее', 'ghost')

  section.s-section.s-trans-service-drinks
    .container
      +section-title('Напитки транс сервис')
      .s-trans-service-drinks__inner
        .s-trans-service-drinks__cover
          img(src='img/trans-service-drinks-cover.jpg', alt='/')
        h3.s-trans-service-drinks__subtitle Обеспечение поездов питанием, напитками и непродовольственными товарами
        p Наша компания осуществляет деятельность по обеспечению поездов дальнего следования и скоростного сообщения напитками, продовольственными и непродовольственными товарами для их реализации пассажирам поездов. ООО «Напитки ТрансСервис» - дочернее Общество АО «Федеральная пассажирская компания» было создано в 2011 году с целью построения новой системы обеспечения пассажиров продукцией гарантированного качества и безопасности, построенной на основе сетевых технологий по принципам категорийного менеджмента.

  section.s-section.s-section--menu
    .container
      +section-title('Меню')
      +more-link('Все меню')
      .swiper-container.s-slider.s-slider--nav.s-slider--menu
        .swiper-wrapper
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
          .swiper-slide
            +menu-card('img/group-1.jpg', 'Вариант №1')
          .swiper-slide
            +menu-card('img/menu-kids.png', 'Детское меню')
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
          .swiper-slide
            +menu-card('img/menu-breakfast.jpg', 'Завтрак')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

  section.s-section
    .container
      +section-title('Магазин', 'with-caption')
      +section-caption('Закажи с собой в дорогу')
      .swiper-container.s-slider.s-slider--nav.s-slider--category
        .swiper-wrapper
          .swiper-slide
            +category('img/snacks.png', 'Снеки')
          .swiper-slide
            +category('img/drinks.png', 'Напитки')
          .swiper-slide
            +category('img/sweets.png', 'Кондитерская продукция')
          .swiper-slide
            +category('img/souvenirs.png', 'Сувениры')
          .swiper-slide
            +category('img/snacks.png', 'Снеки')
          .swiper-slide
            +category('img/drinks.png', 'Напитки')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

  section.s-section
    .container
      +section-title('Партнеры')
      .swiper-container.s-slider.s-slider--partners
        .swiper-wrapper
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')
          .swiper-slide
            +partner('img/rzd.jpg', 'РЖД')
          .swiper-slide
            +partner('img/fpk.jpg', 'Федеральная пассажирская компания')
          .swiper-slide
            +partner('img/alfa.jpg', 'Альфа Банк')

  +modal()