extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Меню', '/menu.html')
    +breadcrumb-item('Детский рацион')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('Детский рацион')
            +side-nav-item('Вариант №1')
            +side-nav-item('Вариант №2')
            +side-nav-item('Вариант №3')
        .col-12.col-md-9
          section.s-offer-layout
            .row
              .col-12.col-md-7
                .s-offer-layout__cover
                  img(src='img/menu-info-cover.jpg', alt='/')
              .col-12.col-md-5
                form.s-offer-layout__info
                  h1.s-offer-layout__title Детский рацион №1
                  ul.s-offer-layout__desc-list
                    li
                      span id
                      span 0240089
                    li
                      span в наличии
                      span есть
                    li
                      label кол-во
                      input(value='1')
                  .s-offer-layout__bottom
                    .s-offer-layout__price Цена: 500 ₽
                    button.s-offer-layout__feedback Задать вопрос
                    +btn('В корзину')(type='submit')
            .row
              .col-12
                .s-offer-layout__tabs
                  .s-tabs
                    ul(data-tabs='').s-tabs__list
                      li
                        a(data-tabby-default='', href='#harry') Состав
                      li
                        a(href='#hermione') Доступность
                      li
                        a(href='#neville') Отзывы и комментарии
                    .s-tabs__content
                      #harry Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, commodi.
                      #hermione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore porro, nobis perferendis nulla vero, et.
                      #neville Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, asperiores fugiat quos laboriosam praesentium ipsam iusto cumque sit facilis perspiciatis.


block page-bottom
  script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.polyfills.min.js')
  script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.min.js')
  script(src='js/script.min.js')
  script.
    var tabs = new Tabby('[data-tabs]');