extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block prepend head
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css')

block content

  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Меню')

  +form()
    .container
      +field-text({
        mods: 'red-border',
        attrs: {
          placeholder: 'Введите маршрут поезда или номер поезда'
        }
      })

  section.s-section
    .container
      +section-title('Детский рацион', 'with-caption')
      +section-caption('Питание детских групп в поездах')
      .row
        .col-12.col-md-4
          +menu-card('img/menu-breakfast.jpg', 'Детский рацион №1')
        .col-12.col-md-4
          +menu-card('img/group-1.jpg', 'Детский рацион №2')
        .col-12.col-md-4
          +menu-card('img/menu-kids.png', 'Детский рацион №3')

  section.s-section
    .container
      +section-title('Рацион для организованных групп', 'with-caption')
      +section-caption('Централизованное питание в поездах')
      .row
        .col-12.col-md-4
          +menu-card('img/group-1.jpg', 'Вариант №1')
        .col-12.col-md-4
          +menu-card('img/menu-breakfast.jpg', 'Вариант №2')
        .col-12.col-md-4
          +menu-card('img/group-3.jpg', 'Вариант №3')

  section.s-section
    .container
      +section-title('Меню вагона ресторана', 'with-caption')
      +section-caption('Питание в пассажиров в поездах дальнего следования')
      .row
        .col-12.col-md-4
          +menu-card('img/breakfast.jpg', 'Завтраки')
        .col-12.col-md-4
          +menu-card('img/group-1.jpg', 'Обеды')
        .col-12.col-md-4
          +menu-card('img/hot.jpg', 'Горячие закуски')
      .row
        .col-12.col-md-4
          +menu-card('img/cold.jpg', 'Холодные закуски')
        .col-12.col-md-4
          +menu-card('img/sandwich.jpg', 'Бутерброды')
        .col-12.col-md-4
          +menu-card('img/salad.jpg', 'Салаты')
      .row
        .col-12.col-md-4
          +menu-card('img/soup.jpg', 'Супы')
        .col-12.col-md-4
          +menu-card('img/main.jpg', 'Основные блюда')


  section.s-section
    .container
      +section-title('Туристам', 'with-caption')
      +section-caption('Специализированное обсуживание в поездах')
      .row
        .col-12.col-md-4
          +menu-card('img/menu-breakfast.jpg', 'Вариант №1')
        .col-12.col-md-4
          +menu-card('img/group-1.jpg', 'Вариант №2')
        .col-12.col-md-4
          +menu-card('img/group-3.jpg', 'Вариант №3')
      .row(style='display: none;')
        .col-12.col-md-4
          +menu-card('img/menu-breakfast.jpg', 'Вариант №1')
        .col-12.col-md-4
          +menu-card('img/group-1.jpg', 'Вариант №2')
        .col-12.col-md-4
          +menu-card('img/group-3.jpg', 'Вариант №3')
      +show-more()

  section.s-section.s-for-special-order
    .container
      +section-title('Спецобслуживание в поездах', 'with-caption')
      +section-caption('Индивидуальные условия для каждого')
      p.s-for-special-order__info
        | Для заказа спецобслуживания свяжитесь с нами по телефону
        a(href='tel:+74991104923') +7 (499) 110-49-23
        |  или по email
        a(href='mailto:info@ntsfpc.ru') info@ntsfpc.ru
      .swiper-container.s-slider.s-slider--nav.s-slider--special-offer
        .swiper-wrapper
          .swiper-slide
            a.s-for-special-order__gallery-item(href='img/spec-1.jpg')
              img(src='img/spec-1.jpg', alt='/')
          .swiper-slide
            a.s-for-special-order__gallery-item(href='img/spec-2.jpg')
              img(src='img/spec-2.jpg', alt='/')
          .swiper-slide
            a.s-for-special-order__gallery-item(href='img/spec-3.jpg')
              img(src='img/spec-3.jpg', alt='/')
          .swiper-slide
            a.s-for-special-order__gallery-item(href='img/spec-1.jpg')
              img(src='img/spec-1.jpg', alt='/')
          .swiper-slide
            a.s-for-special-order__gallery-item(href='img/spec-2.jpg')
              img(src='img/spec-2.jpg', alt='/')
          .swiper-slide
            a.s-for-special-order__gallery-item(href='img/spec-3.jpg')
              img(src='img/spec-3.jpg', alt='/')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

block page-bottom
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js')
  script(src='js/script.min.js')
  script.
    $(document).ready(function() {
      $('.s-slider--special-offer').lightGallery({
        selector: 'a.s-for-special-order__gallery-item',
        mode: 'lg-fade',
        cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        thumbnail: true,
        animateThumb: false,
        showThumbByDefault: false
      });
    });

    $(document).ready(function () {
      if ($('.row:hidden').length != 0) {
        $('.s-show-more').show();
      }
      $('.s-show-more').on('click', function (e) {
        e.preventDefault();
        $('.row:hidden').slideDown();
        if ($('.row:hidden').length == 0) {
          $('.s-show-more').fadeOut('slow');
        }
      });
    });