extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Магазин', '/shop.html')
    +breadcrumb-item('Напитки')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('Напитки')
            +side-nav-item('Снеки')
            +side-nav-item('Кондитерские изделия')
            +side-nav-item('Сувениры')
            +side-nav-item('Печатная продукция')
            +side-nav-item('Товары в дорогу')
            +side-nav-item('Быстрое питание')
        .col-12.col-md-9
          section.s-offer-layout
            .row
              .col-12.col-md-7
                .s-offer-layout__cover
                  img(src='img/pepsi-big.jpg', alt='/')
              .col-12.col-md-5
                form.s-offer-layout__info
                  h1.s-offer-layout__title Pepsi Light 0,33
                  ul.s-offer-layout__desc-list
                    li
                      span id
                      span 0240089
                    li
                      span в наличии
                      span есть
                    li
                      span ед. изм.
                      span шт.
                    li
                      label кол-во
                      input(value='1')
                  .s-offer-layout__bottom
                    .s-offer-layout__price Цена: 500 ₽
                    button.s-offer-layout__feedback Задать вопрос
                    +btn('В корзину')(type='submit')
            .row
              .col-12
                .s-offer-layout__tabs
                  .s-tabs
                    ul(data-tabs='').s-tabs__list
                      li
                        a(data-tabby-default='', href='#harry') Описание
                      li
                        a(href='#hermione') Как получить
                      li
                        a(href='#neville') Отзывы и комментарии
                    .s-tabs__content
                      #harry Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, commodi.
                      #hermione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore porro, nobis perferendis nulla vero, et.
                      #neville Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, asperiores fugiat quos laboriosam praesentium ipsam iusto cumque sit facilis perspiciatis.

  section.s-section
    .container
      +section-title('Рекомендуем')
      .swiper-container.s-slider.s-slider--nav.s-slider--products
        .swiper-wrapper
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Pepsi Light')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
          .swiper-slide
            +product-card('img/seven-up.jpg', '7up')
          .swiper-slide
            +product-card('img/pepsi.jpg', 'Pepsi')
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Чай Greenffield Черный Rich Ceylon')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

block page-bottom
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.1.0/jquery-migrate.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
  script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.polyfills.min.js')
  script(src='https://cdn.jsdelivr.net/gh/cferdinandi/tabby@12.0.1/dist/js/tabby.min.js')
  script(src='js/script.min.js')
  script.
    var tabs = new Tabby('[data-tabs]');