extends pug/layout.pug

block meta
  - var title = 'Shop';
  title= title
  meta(name='description', content='')

block content
  +breadcrumb()
    +breadcrumb-item('Главная', '/index.html')
    +breadcrumb-item('Магазин')

  .s-section.s-section--first
    .container
      .row
        .col-12.col-md-3
          +side-nav('Магазин')
            +side-nav-item('Покупателю')
            +side-nav-item('Поставщику')
            +side-nav-item('Доставка и оплата')
        .col-12.col-md-9
          .row
            .col-12.col-md-6.col-lg-4
              +category('img/snacks.png', 'Снеки')
            .col-12.col-md-6.col-lg-4
              +category('img/drinks.png', 'Напитки')
            .col-12.col-md-6.col-lg-4
              +category('img/sweets.png', 'Кондитерская продукция')
            .col-12.col-md-6.col-lg-4
              +category('img/souvenirs.png', 'Сувениры')
            .col-12.col-md-6.col-lg-4
              +category('img/print.png', 'Печатная продукция')
            .col-12.col-md-6.col-lg-4
              +category('img/way.png', 'Товары в дорогу')
            .col-12.col-md-6.col-lg-4
              +category('img/fast.png', 'Быстрое питание')

  section.s-section
    .container
      +section-title('Рекомендуем')
      .swiper-container.s-slider.s-slider--nav.s-slider--products
        .swiper-wrapper
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Pepsi Light')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
          .swiper-slide
            +product-card('img/seven-up.jpg', '7up')
          .swiper-slide
            +product-card('img/pepsi.jpg', 'Pepsi')
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Чай Greenffield Черный Rich Ceylon')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next

  section.s-section
    .container
      +section-title('Новинки')
      .swiper-container.s-slider.s-slider--nav.s-slider--products
        .swiper-wrapper
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Pepsi Light')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
          .swiper-slide
            +product-card('img/seven-up.jpg', '7up')
          .swiper-slide
            +product-card('img/pepsi.jpg', 'Pepsi')
          .swiper-slide
            +product-card('img/pepsi-light.jpg', 'Чай Greenffield Черный Rich Ceylon')
          .swiper-slide
            +product-card('img/mirinda.jpg', 'Mirinda')
        .s-slider__nav
          .s-slider__button.s-slider__button--prev
          .s-slider__button.s-slider__button--next