@font-face {
  font-family: 'Source Sans Pro Variable';
  src: url('../fonts/source-sans-variable-roman.woff2') format('woff2-variations'),
       url('../fonts/source-sans-variable-roman.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-400-normal.woff2') format('woff2'),
       url('../fonts/sourcesanspro-400-normal.woff') format('woff'),
       url('../fonts/sourcesanspro-400-normal.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}