// Width

$screen-xs:                   375px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);

$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);

$gray:                        hsl(228, 3%, 65%);
$gray-light:                  hsl(120, 1%, 90%);
$gray-lighter:                hsl(240, 3%, 86%);
$gray-lightest:               hsl(240, 3%, 94%);

$white:                       hsl(0, 0%, 100%);

$color--alternate:            #577488;
$color--accent:               #e21a1a;
$color--accent-dark:          #b80101;

$text-color:                  $black;
$text-color--lighter:         $gray-lighter;
$text-color--lightest:        $white;

$heading-color:               $black;
$caption-color:               $gray;

$bg-color--default:           $white;
$bg-color--lighter:           $gray-lighter;
$bg-color--darker:            $gray-darken;

$border-color:                $gray;
$border-radius:               0;

$transition:                  all 0.3s cubic-bezier(0.4,0,0,1);
$opacity:                     0.5;
$box-shadow:                  0 10px 30px rgba($text-color, 0.25);
