.s-trans-service-drinks {

  &__inner {
    background-color: $bg-color--default;
    border: 2px solid $color--accent;
    position: relative;
    margin: 0;
    padding: 15px;

    @media (min-width: $screen-md) {
      margin: 0;
      padding: 71px 41px 71px calc(50% + 60px);
    }
  }

  &__cover {
    margin-bottom: 15px;
    width: 100%;
    height: 300px;

    @media (min-width: $screen-md) {
      position: absolute;
      height: auto;
      left: -2px;
      top: -20px;
      width: 50%;
      bottom: -20px;
      display: block;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 25px;
    color: $color--accent;
    font-family: $font-family--condensed;
    margin-bottom: 26px;
  }
}