.s-search-form {
  position: relative;

  &__input {
    padding: 0 10px 0 25px;
    margin: 0;
    border: 0;
    background: none;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    color: rgba(#fff, 0.75);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23d5dce2' d='M90.4 84L75.8 69.5C87.2 54.9 86 34.1 72.9 21 66 14.1 56.8 10.3 47 10.3c-9.8 0-19 3.8-25.9 10.7-6.9 6.9-10.7 16.1-10.7 25.9 0 9.8 3.8 19 10.7 25.9C28 79.7 37.2 83.5 47 83.5c8.1 0 16.1-2.7 22.5-7.8L84 90.4c.9.9 2 1.3 3.2 1.3 1.2 0 2.3-.5 3.2-1.3 1.8-1.7 1.8-4.6 0-6.4zM74.6 46.9c0 7.4-2.9 14.3-8.1 19.5-5.2 5.2-12.2 8.1-19.5 8.1s-14.3-2.9-19.5-8.1c-5.2-5.2-8.1-12.2-8.1-19.5 0-7.4 2.9-14.3 8.1-19.5s12.2-8.1 19.5-8.1c7.4 0 14.3 2.9 19.5 8.1 5.2 5.2 8.1 12.1 8.1 19.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 0 50%;

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: rgba(#fff, 0.75);
    }
  }
}